body {
  font-family: "NotoSans";
  background-color: $background;
}

h1 {
  margin: 0;
  color: $background;
  @extend %h1;
}

h2 {
  margin: 0;
  color: $h2-option;
  text-transform: uppercase;
  text-align: center;
  @extend %h2;
}

a {
  color: $background;
  text-decoration: none;
}

header, main, footer {
  padding: 0 100px;
}
