$text-color: #000000;
$background: #f8f8f8;
$brand-color: #df4e3c;
$h2-option: #aeaeae;
$text-possible-option: #8d8d8d;
$validation-color: #507a36;
$error: #ff2307;

$button-border-radius: 15px;
$transition-button: color 150ms ease-in-out;
